.ol-1{
    background-color: rgb(224, 127, 159);
    padding:5px;
}
.ol-1 li{
    margin: 5px;
    background-color: pink;
    list-style-position:inside;
    color: white;
}
.ol-1 li span{
    background-color: rgb(226, 26, 59);
}